<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key><string>Eldr</string>
  <key>CFBundleDisplayName</key><string>Eldr</string>
  <key>CFBundleIdentifier</key><string>com.petruarakiss.eldr</string>
  <key>CFBundleExecutable</key><string>eldr</string>
  <key>CFBundleIconFile</key><string>eldr</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>0.11.6</string>
  <key>CFBundleVersion</key><string>0.11.6</string>
  <key>LSMinimumSystemVersion</key><string>13.0</string>
  <key>LSUIElement</key><true/>
  <key>NSHumanReadableCopyright</key><string>© 2026 Petru Arakiss. MIT.</string>
</dict>
</plist>
